@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CMU Serif";
  src: url("/fonts/cmunrm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CMU Serif";
  src: url("/fonts/cmunbi.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
